In [ ]:
import pandas as pd

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [ ]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/dslab/iris.csv')
df

In [ ]:
df.head()

In [ ]:
df.tail(10)

In [ ]:
df[60:100]

In [ ]:
df.columns

In [ ]:
df['petal.length']

In [ ]:
df[['petal.length','petal.width']]

In [ ]:
df.info

In [ ]:
df.describe

<bound method NDFrame.describe of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [ ]:
df['petal.length'].count()

150

In [ ]:
df.count()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     150
variety         150
dtype: int64

In [ ]:
df['petal.width'].sum()

179.90000000000003

In [ ]:
df['petal.length'].max()

6.9

In [ ]:
df.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [ ]:
df[['petal.length','variety']].max()

petal.length          6.9
variety         Virginica
dtype: object

In [ ]:
df.mean()

<ipython-input-36-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [ ]:
df[20:30].mean()

<ipython-input-37-15d9466f40ff>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[20:30].mean()

sepal.length    5.01
sepal.width     3.39
petal.length    1.55
petal.width     0.27
dtype: float64

In [ ]:
df[10:20]['petal.length'].mean()

1.42

In [ ]:
df[df['petal.length'] > 4]['sepal.length'].median()

6.35

In [ ]:
df['petal.length'].mode()

0    1.4
1    1.5
Name: petal.length, dtype: float64

In [ ]:
df.std()

<ipython-input-55-ce97bb7eaef8>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

sepal.length    0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.762238
dtype: float64

In [ ]:
df.mode()

   sepal.length  sepal.width  petal.length  petal.width     variety
0           5.0          3.0           1.4          0.2      Setosa
1           NaN          NaN           1.5          NaN  Versicolor
2           NaN          NaN           NaN          NaN   Virginica

In [ ]:
df['petal.length'].abs()

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal.length, Length: 150, dtype: float64

In [ ]:
df.prod()

<ipython-input-62-7c1ba80be652>:1: FutureWarning: The default value of numeric_only in DataFrame.prod is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.prod()

sepal.length    2.257440e+114
sepal.width      1.390618e+72
petal.length     3.522857e+76
petal.width      5.945429e-12
dtype: float64

In [ ]:
df['petal.length'].cumprod()

0      1.400000e+00
1      1.960000e+00
2      2.548000e+00
3      3.822000e+00
4      5.350800e+00
           ...
145    4.919916e+73
146    2.459958e+74
147    1.279178e+75
148    6.907562e+75
149    3.522857e+76
Name: petal.length, Length: 150, dtype: float64

In [ ]:
df['petal.length'].cumsum()

0        1.4
1        2.8
2        4.1
3        5.6
4        7.0
       ...
145    543.0
146    548.0
147    553.2
148    558.6
149    563.7
Name: petal.length, Length: 150, dtype: float64